<HTML>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500&display=swap" rel="stylesheet">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="stylesheet/file1.css" >
    </head>
    <body>
<!--         
        <h1>This is the index page</h1>
        <h2>Select Category of News: </h2> -->
<!--         <li><a href="/req/business">Business</a></li>
        <li><a href="/req/entertainment">Entertainment</a></li>
        <li><a href="/req/general">General</a></li>
        <li><a href="/req/health">Health</a></li>
        <li><a href="/req/sports">Sports</a></li>
        <li><a href="/req/science">Science</a></li>
        <li><a href="/req/technology">Technology</a></li> -->
	<header class="header">
		<div class="header__logo-box">
			<img src="images/na.webp" class="header__logo">
		</div>
		<div class="header__text-box">
			<h1 class="heading__primary">
			<div class="header__heading-1">Welcome to <span class="highlight">News App</span></div>
			<div class="header__heading-2">Best News | Fastest News</div>
			</h1>
			<a href="#newsSec" class="btn-primaryy">
				Go to News Section &rarr;
			</a>
		</div>
	</header>

<div class="news__section" id="newsSec">
	<h1 class="section-head"> News Section</h1>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-4">
			<div class="card text-center border-success mb-3" >
			  <img class="card-img-top" src="images/business.jpg" alt="Card image cap">
			  <div class="card-body text-primary ">
			    <a href="/req/business" class="btn btn-block btn-success">Business</a>
			  </div>
			</div>
		</div>	
		<div class="col-sm-6 col-lg-4">
			<div class="card text-center border-success mb-3" >
			  <img class="card-img-top" src="images/entertain.jpg" alt="Card image cap">
			  <div class="card-body text-primary">
			    <a href="/req/entertainment" class="btn btn-block btn-success">Entertainment</a>
			  </div>
			</div>
		</div>	
		<div class="col-sm-6 col-lg-4">
			<div class="card text-center border-success mb-3" >
			  <img class="card-img-top" src="images/general.jpg" alt="Card image cap">
			  <div class="card-body text-primary">
			    <a href="/req/general" class="btn btn-block btn-success">General</a>
			  </div>
			</div>
		</div>	
	 	<div class="col-sm-6 col-lg-4">
			<div class="card text-center border-success mb-3" >
			  <img class="card-img-top" src="images/health.jpg" alt="Card image cap">
			  <div class="card-body text-primary">
			    <a href="/req/health" class="btn btn-block btn-success">Health</a>
			  </div>
			</div>
		</div>	
		<div class="col-sm-6 col-lg-4">
			<div class="card text-center border-success mb-3" >
			  <img class="card-img-top" src="images/sport.jpg" alt="Card image cap">
			  <div class="card-body text-primary">
			    <a href="/req/sports" class="btn btn-block btn-success">Sports</a>
			  </div>
			</div>
		</div>	
		<div class="col-sm-6 col-lg-4">
			<div class="card text-center border-success mb-3" >
			  <img class="card-img-top" src="images/science.jpg" alt="Card image cap">
			  <div class="card-body text-primary">
			    <a href="/req/science" class="btn btn-block btn-success">Science</a>
			  </div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-4">
			<div class="card text-center border-success mb-3" >
				  <img class="card-img-top" src="images/tech.jpg" alt="Card image cap">
				  <div class="card-body text-primary">
				    <a href="/req/technology" class="btn btn-block btn-success">Technology</a>
				  </div>
			</div>		
		</div>
	</div>
</div>
            <section class="copyright">
            	&nbsp;
            	<div class="icon__section">
            		<div class="icon__section--main"><i class="fa fa-linkedin-square fa-4x"></i></div>
            		<div class="icon__section--main"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></div>
            		<div class="icon__section--main"><i class="fa fa-instagram fa-4x"></i></div>
            		<div class="icon__section--main"><i class="fa fa-github-square fa-4x"></i></div>
            	</div>
            	<div class="copy__claim">Niket Singh &copy; 2019</div>
            </section>	
    </body>
</HTML>
